{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h3>Регистрация</h3>
    <div>
        <input placeholder="email" class="form-control" id="email"/>
        <input placeholder="password" class="form-control" id="password"/>
    </div>
    <div>
        <input type="submit" id='send-data' value="Зарегистрироваться"/>
        <p><a href="#">Уже зарегистрированы?</a></p>
    </div>
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="{% static 'js/utils.js'%}"></script>
    <script>

        const register_url = 'http://127.0.0.1:8000/account/api/register/'
        document.getElementById('send-data').onclick = () => {
            sendCredentials()
        }
        function sendCredentials(){
            const email = document.getElementById('email').value
            const password = document.getElementById('password').value
            if (email && password){
                const data = {
                    email: email,
                    password: password
                }
                console.log(email , password)
                postData(register_url, data)
                .then((data) => {
                    if (data.ok) {
                        data.json().then((data) => console.log(data))
                    } else {
                        console.log('no')
                    }
                } )
            } else {
                console.log('not data')
            }
        }

    </script>
</body>
</html>